openapi: 3.0.0
info:
  title: Sistema de entrega API
  version: 1.0.0
servers:  
  - url: https://api.cargapesada.com/v1
    description: Production server
paths:
  /ativacoes:
    post:
      tags:
       - Ativação
      summary: Ativa o comerciante no sistema de entrega.
      description: O endpoint HTTPS do comerciante é registrado no sistema de entrega para que o mesmo receba a notificação dos pedidos entregues dos seus clientes.
      operationId: ativaComerciante
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Merchant"
        description: Os dados da ativação do comerciante.
      responses:
        "201":
          description: A ativação do comerciante foi realizada.
        "400":
          description: Bad Request - Valida os campos de acordo com a definição do contrato.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Não autorizado - O cliente não tem as credenciais necessárias de autenticação.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Forbidden - O servidor se recusa a responder. Isso geralmente é causado por escopos de acesso incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not Found - O recurso solicitado não foi encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable Entity - O corpo da solicitação contém erros semânticos. Isso geralmente é causado por não atender à regra de negócios do domínio.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error - Ocorreu um erro interno.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Serviço indisponível - O servidor não está disponível no momento.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "504":
          description: Gateway Timeout - A solicitação não pôde ser concluída a tempo.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
components:
  
 schemas:
    
    Merchant:
      type: object
      required:
       - merchantId
       - endpoint
      properties:
        merchantId:
          type: string
          format: uuidv4
          description: "Um identificador exclusivo para o comerciante."
          example: "1234"
        endpoint:
          type: string
          description: "O endpoint HTTPS que receberá a notificação quando um pedido for entregue. O método utilizado é POST"
          example: "https://webhook.site/XXXX"
    
    Error:
      type: object
      properties:
        code:
          type: string
          example: "400"
          description: O código do erro.
        message:
          type: string
          description: "Mensagem de erro."
          example: "O identificador do comerciante é obrigatório."